{% extends 'chart_home.html' %}

{% block title %}- 차트 ticket_class_2{% endblock %}

{% block content %}
    <div id="container" style="margin-top: 20px;"></div>
    <p style="text-align : center">
        생존 및 비 생존 인원 수를 </br>
        수직 막대(column) 차트로 작성한 경우
    </p>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        Highcharts.chart('container', {
            chart: {
                type: 'column',
                borderColor: '#9DB0AC',
                borderWidth: 3,
            },
            title: {
                text: '티켓 등급에 따른 타이타닉 생존자'
            },
            xAxis: {
                categories: {{ categories|safe }}  /* safe 필터 */
            },
            series: [{
                name: '생존',
                data: {{ survived_series }},
                color: 'green'
            }, {
                name: '비생존',
                data: {{ not_survived_series }},
                color: 'red'
            }]
        });
    </script>
{% endblock %}