{% extends 'base.html' %}

{% block title %}- 홈{% endblock %}

{% block content %}
    <div class="container">
        <h1>교수의 애로 사항</h1>
        <ul>
            <li>
            <p><strong>질문은 늘 상상의 한계를 깨부순다.</strong><br>
            학생들의 질문에 답변하기가 매우 어렵다. 학생들이 문제를 겪는 상황이 내 컴퓨터에서 똑같이 재현되어야 문제의 원인을 찾을 수 있는데, 그렇지 못한 경우가 많다. 모든 소스 코드와 가상환경 정보 및 프롬프트 창에서 수행한 쉘 명령을 함께 보내주어도 답변이 쉽지 않을텐데, 그냥 '오류가 발생합니다. 이럴 땐 어떻게 해야 하나요?'라고 들이민다. 신의 경지에서 답변하기를 요구한다.</p>
            </li>
            <li>
            <p><strong>요구가 너무 다양하다.</strong><br>
            어떤 학생은 너무 어려우니 자세히 설명해달라고 요구한다. 어떤 학생은 강의 시간이 너무 길다고 투정한다. 쉽고 자세하게 설명하다 보면 오랜 시간이 걸릴 수 밖에 없다. 수업을 빨리 마치고 싶은 마음은 나도 마찬가지이다.</p>
            </li>
            <li>
            <p><strong>내가 해결할 수 없는 영역이 있다.</strong><br>
            구글 API를 쓰려면 결제 정보를 등록해야 하는데, 여기서 오류가 발생한다고 질문한다. 질문이 아니라, 항의인 것도 같다. 이건 내가 해결할 수 있는 영역이 아니다. 네이버 아이디로 로그인하는 API를 쓰려면 네이버 사이트에서 요구하는 조건을 통과해야 한다. 통과하는 요령을 설명해 주어도, 자신은 통과하지 못했으니 '어찌 해야 하느냐?'고 질문한다. 어쩌란 말이냐^^;</p>
            </li>
            <li>
            <p><strong>차라리 항의를 해라.</strong><br>
            '제가 예상한 점수가 아닙니다.'라고 솔직히 말하면 좋겠다. 나도 인간인지라 실수도 하고, 인정하고, 사과하고, 수정하기도 한다. 그런데, 처음부터 '문항별 점수를 모두 공개해 달라'고 요구한다. 이걸 알려주면 '다른 학생의 점수도 공개하라'고 요구한다. 이런 상황을 피하려고 상세하고 정교한 채점 기준을 사전 공지해도 소용이 없다. 채점에 나만큼 공을 들이는 교수가 없을 것이라고 자부하는 나로서는, 자괴감을 느낀다. 내가 교수를 때려 치운다면, 그 이유는 채점이 <em>너무 너무 너무</em> 힘들고, 솔직하지 않은 항의에 응대하는 과정에서 겪는 심리적 고통이 그보다 훨씬 크기 때문일 것이다.</p>
            </li>
            <li>
            <p><strong>LMS 시스템이 너무 불편하다.</strong><br>
            LMS 시스템의 쪽지 기능은 핸드폰 단문 서비스 기능보다도 후진적이다. 마음에 안든다고 지워버릴 수도 없다. 학과장에게는 모든 과목, 모든 수강반의 알림이 모두 다 날아온다. 폭탄 문자가 무엇인지 몸서리치도록 잘 알게 되었다. 그런데도 그 안에서 내 학생의 알림을 찾아내야 한다. 이뿐이 아니다. 익명 게시판, 익명 댓글은 왜 없나? 질문만 익명이다. 누구처럼, 나도 내가 질문하고, 학생들에게 답을 올리라고 할까? 못 살겠다.</p>
            </li>
            <li>
            <p><strong>소통이 되는 토론 수업을 하고 싶다.</strong><br>
            토론이 무엇인가? 토론은 어떻게 하는 것인가? 토론 수업은 왜 안되나? 소통을 기대했지만 불변의 불통이다. 우리 수준에는 안 맞는 것인가? 학생들은 수업과 과제 부담이 커서 바쁜 모양이다. 나도 바쁘다. 학생들은 수줍어 하는가 보다. 혼자 기를 쓰다보면, 나도 쑥스럽다.</p>
            </li>
            <li>
            <p><strong>수업에 집중하고 싶다.</strong><br>
            초중고 선생님들이 수업 외 업무가 많아서 힘겨워 한다는 기사를 읽은 적이 있다. 대학교수라고 다를 게 하나도 없다. 학과장이라고 하면 높은 벼슬인줄 아는데, 그냥 학과 공식 머슴이다. 책임은 많고, 권한은 일도 없다. 학과장 수당이 나오는데, 내가 학교에 발전기금으로 매월 기부하고 있는 금액도 이보다 많다. 그래도 나보다 더 힘겨워하는 조교들을 보면서 스스로를 위로한다.</p>
            </li>
        </ul>
    </div>
{% endblock %}